---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>About | Astro</title>
  </head>
  <body>
    <h1>About | Astro</h1>

    <span>Welcome to the about page! u made it!</span>

    <a href="/">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/about">About</a>
  </body>
</html>
