---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Blogs | Astro</h1>
    <span
      >All the blogs will be listed there, but here the page is kinda empty now.</span
    >

    <ul>
      <li><a href="/blogs/hello-world/">Hello World</a></li>
      <li><a href="/blogs/astro-example/">Astro example md file</a></li>
    </ul>

    <a href="/">Home</a>
    <a href="/blogs">Blogs</a>
    <a href="/about">About</a>
  </body>
</html>
